@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body {
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #001931;
	background: #f5f5f5;
}

.container {
	max-width: 1470px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.menu li a.active {
	background: linear-gradient(125deg, #632ee3 5.68%, #9f62f2 88.38%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-bottom: 1px solid #9f62f2;
}

button {
	cursor: pointer;
}

.productive {
	opacity: 0.9;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.developby {
	background: linear-gradient(125deg, #632ee3 5.68%, #9f62f2 88.38%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

select:focus {
	outline: none !important;
	box-shadow: none !important;
}

@media screen and (max-width: 575px) {
	body {
		font-size: 16px;
	}
}
